body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1eded;
    color: #333;
}

header {
    background-color: #2C3E50;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/* Contenedor flexible para el título y los logos */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}


.header-logo {
    width: 50px; 
    height: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a4c2d3;
    padding: 10px 20px;
    position: relative;
}


.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #865353;
    border-radius: 5px;
}


.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: all 0.3s ease;
}


@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #a4c2d3;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    /* Mostrar el ícono del menú hamburguesa */
    .menu-icon {
        display: flex;
    }

    /* Animación del ícono de hamburguesa */
    .menu-icon.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active .line:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* Resto de los estilos (secciones, footer, etc.) */
section {
    padding: 20px;
    margin: 20px;
    background-color: #f1f8fc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #7699a7;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}

h2 {
    color: #4CAF50;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.team-member img {
    border-radius: 50%;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

/* Margen inferior para la sección de contacto */
#contacto {
    margin-bottom: 80px; /* Ajusta este valor según la altura del footer */
}